<section id="app">
  <div id="search">

    <mat-form-field>
      <mat-select placeholder="price" name="price" [(ngModel)]="price">
        <mat-option value="1">$</mat-option>
        <mat-option value="2">$$</mat-option>
        <mat-option value="3">$$$</mat-option>
        <mat-option value="4">$$$$</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="flex-grow">
      <input matInput placeholder="search term" name="term" [(ngModel)]="term">
    </mat-form-field>

    <mat-form-field class="flex-grow">
        <input matInput placeholder="city" name="city" [(ngModel)]="city">
      </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="state" name="state" [(ngModel)]="state">
        <mat-option *ngFor="let state of states" [value]="state">
          {{ state }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="search()">search</button>

  </div>
  
  <mat-divider></mat-divider>

  <app-restaraunt [business]="business" *ngIf="business"></app-restaraunt>

</section>
